server/node_modules
server/config/dev.js
server/yarn.lock
server/.gitignore

client/node_modules
client/.gitignore
client/yarn.lock

proxy/Dockerfile
proxy/config

docker
resources
.gitignore
server.env

Dockerfile
.dockerignore
docker-compose.yml

