server/node_modules
server/config/dev.js
server/package-lock.json
server/.gitignore

client/node_modules
client/.gitignore
client/package-lock.json

docker
resources
.gitignore
server.env

Dockerfile
.dockerignore
docker-compose.yml