button {
  margin: 5px;
}

.selectLabel {
  margin-left: 1rem;
  width: 8rem;
  vertical-align: middle;
}

.field {
  margin: 0.5em;
  flex: 1;
  padding: 3px 5px;
}

.field1 {
  margin: 0.5em;
  flex: 0;
  padding: 3px 5px;
  width: 1rem;
}
.field2 {
  margin: 0.5em;
  flex: auto;
  padding: 3px 5px;
}

.formField {
  display: flex;
  flex-flow: row nowrap;
  line-height: 2em;
  margin: 5px;
}

.sformField {
  display: flex;
  flex-flow: row nowrap;
  line-height: 2em;
  margin: 5px;
  align-items: flex-start;
}

.smallField {
  align-self: auto;
  margin: 0.5em;
  padding: 3px 5px;
}

.buttons {
  margin: 0.5em;
  padding: 3px 5px;
}
